body{
    background-color: lightgreen;
}

h1 {
   text-align: center;
   color: rgb(179, 17, 117);
}

div {
    text-align: center;
}

.Knopf {
    text-align: center;
}

p {
    padding-left: 25%;
}

p2 {
    padding-left: 75%;
    color: palevioletred;
}

button {
    color: rgb(179, 82, 17);
    size: 400px 400px; 
}

div.gallery {
    text-align: center;
}

div.gallery img {
    width: 100%;
    height: auto;
}

