:root{
  --primary-color: rgb(0,0,0);
  --bakground-color: rgb(255,255,255);
  --title-color: rgb(67, 69, 196);
  --visited-link: rgb(65, 5, 100);
  --hover-link: rgb(90, 77, 77);
  --tabel-background: rgb(179, 174, 174);
  --nav-text: rgb(0,0,0);
  --nav-background: rgb(110, 149, 235);
  --nav-dropdown: rgb(8, 247, 227);
  --nav-hover: rgb(102, 224, 228);
}

[data-theme="dark"] {
  --primary-color: rgb(255,255,255);
  --bakground-color: rgb(39, 37, 37);
  --title-color: rgb(190, 73, 19);
  --visited-link: rgb(118, 116, 119);
  --hover-link: rgb(116, 90, 90);
  --tabel-background: rgb(88, 86, 86);
  --nav-text: rgb(255,255,255);
  --nav-background: #333;
  --nav-dropdown: #f9f9f9;
  --nav-hover: red;
}

/*Eigenschaften für den Body der Webseite*/
body{
    background-color: var(--bakground-color);    /*Hintergrund Farbe */
    position: relative;       /*position*/
    margin: 0;                /*Platzhalter des Bodys*/
    padding-bottom: 7rem;     
    min-height: 100%;         /*mindest Höhe des Bodys*/
}

/*Texteigenschaft für Webseiten Titel*/
h1 {
   text-align: center;      /* dass der Text in der mitte zentriert angezeigt wird*/
   color: var(--title-color);     /*Textfarbe*/
   font-size: 50px;             /*Text grösse*/
   margin-top: 8px;
   margin-bottom: 12px;
   font-weight: bold;         /*Fetter Text*/
}

/*Texteigenschaft für den Text selbst*/
.Text{
  color: var(--primary-color);
  font-size: 16px; 
  margin: 21px;       /*Abstsnad zwischen den Linien*/
  font-family: "Helvetica Neue";    /*Font Art*/
  text-align: left;               /*Textausrichtung*/
}

/* Texteigenschaft für Titel*/
.Titel{
  color: var(--primary-color);
  font-size: 24px; 
  margin: 21px;
  font-weight: bold;
  text-decoration: underline;     /*unterstrichener Text*/
  font-family: "Helvetica Neue";
  text-align: left;
}

/* Texteigenschaft für Untertitel*/
.Untertitel{
  color: var(--primary-color);
  font-size: 20px; 
  margin: 21px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: left;
}

/* Texteigenschaft Zitat */
.blockquote{
  color: var(--primary-color);;
  font-size: 16px; 
  margin: 21px;
  font-family: "Helvetica Neue";
  text-align: center;
  padding-left: 10%;          /*Abstand zum Rand 10%*/
  padding-right: 10%;
}

/* Allgemeine Linkfarbe*/
a:link{
  color: var(--primary-color);
}

/*Linkfarbe von geklickten Links */
a:visited{
  color: var(--visited-link);
}

/*Linkfarbe beim Hovern */
a:hover{
  color: var(--hover-link);
}

/*Text Eigenschaften in der LIste */
li{
  color: var(--primary-color);
  font-size: 16px; 
  margin: 8px;
  font-family: "Helvetica Neue";
  text-align: left;
}

/*Tabellen Design*/
table.arten, td, th{
  background-color: rgb(88, 86, 86);
  text-align: center;
  color: var(--primary-color);
  font-size: 16px; 
  padding: 12px;
  border: 1px solid var(--primary-color);      /*Umrandungslinie erstellen*/
  border-collapse: collapse;      /*Umrandungslinien werden zu einer Linie*/
}

/*Texteigenschaften für Bildquelle */
p.desc{
  color: var(--primary-color);
  text-align: center;
}

/* Textgestaltung für Bildtitel der Katzenbilder */
.BildTitel{
  color: var(--primary-color);
  font-size: 20px; 
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
  text-decoration: underline;
}


div.Tabelle{
  margin: 21px;
}
th{
  font-weight: bold;
}

/*Platzierung der Bilder*/
.gc {
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto auto;
  padding: 8%;
  justify-content: center;
  align-content: center;
}

.gi1 {
  grid-row: 1;
  grid-column: 1;
}

.gi2 {
  grid-row: 1;
  grid-column: 2;
}

.gi3 {
  grid-row: 1;
  grid-column: 3;
}

.gi4 {
  grid-row: 2;
  grid-column: 1; 
}

.gi5 {
  grid-row: 2;
  grid-column: 2;
}

@media only screen and (max-width: 768px) {
  .gc{
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto;
  padding: 8%;
  justify-content: center;
  align-content: center;
  }
  .gi1 {
    grid-row: 1;
    grid-column: 1;
  }
  .gi2 {
    grid-row: 2;
    grid-column: 1;
  }
  .gi3 {
    grid-row: 3;
    grid-column: 1;
  }
  .gi4 {
    grid-row: 4;
    grid-column: 1;
  }
  .gi5 {
    grid-row: 5;
    grid-column: 1;
  }          
}

.gc2{
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto;
  padding: 8%;
  justify-content: center;
  align-content: center;
}

.gi2.1{
  grid-row: 1;
  grid-column: 1;
}

/* Bildeigenschaften der Katzenbilder */
img{
  width: 90%;
  height: auto;
}



/*Gif Eigenschaften*/
div.saver{
  text-align: center;
}

/*Gestaltung Gif*/
div.gif{
  text-align: center;
}

div.gif img{
  margin-top: 15px;
  max-width: 100%;
  height: auto;
}

/* Design der "Fusszeile" */
footer{
  background-color: rgb(53, 49, 49);
  color: rgb(255, 255, 255);
  padding: 4px;
  margin:2px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Text in der Fusszeile*/
.Fusszeile{
  text-align: center;
}

/* Navigations Leiste Design */
.navbar {
    overflow: hidden;
    background-color: var(--nav-background);
    font-family: Arial;
}
  
  /* Text Design im Navigationsverzeichnis */
  .navbar a {
    float: left;
    font-size: 16px;
    color: var(--nav-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Dropdown Kasten*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown Knopf */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--nav-text);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  /* Roter Hintergrund beim Hovern über der Navigations Leiste */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--nav-hover);
  }
  
  /* Dropdown Inhalts Box */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav-dropdown);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links im Dropdown Menü */
  .dropdown-content a {
    float: none;
    color: var(--nav-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Grauer Hintergrund beim Hovern im Dropdown Menü */
  .dropdown-content a:hover {
    background-color: var(--nav-hover);
  }
  
  /* Dropdown anzeigen */
  .dropdown:hover .dropdown-content{
    display: block;
  }
  

  /*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  padding: 14px 16px;
  display: flex;
  align-items: right;}

  em{
    margin-left: 10px;
    font-size: 1rem;
    color: var(--bakground-color);
  }

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 44px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 20px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}