/*Eigenschaften für den Body der Webseite*/
body{
    background-color: rgb(77, 75, 72);    /*Hintergrund Farbe */
    position: relative;       /*position*/
    margin: 0;                /*Platzhalter des Bodys*/
    padding-bottom: 6rem;     
    min-height: 100%;         /*mindest Höhe des Bodys*/
}

/*Texteigenschaft für Webseiten Titel*/
h1 {
   text-align: center;      /* dass der Text in der mitte zentriert angezeigt wird*/
   color: rgb(29, 139, 158);      /*Textfarbe*/
   font-size: 30px;             /*Text grösse*/
   font-weight: bold;         /*Fetter Text*/
}

/*Texteigenschaft für den Text selbst*/
.Text{
  color: rgb(255,255,255);
  font-size: 16px; 
  margin: 21px;       /*Abstsnad zwischen den Linien*/
  font-family: "Helvetica Neue";    /*Font Art*/
  text-align: left;               /*Textausrichtung*/
}

/* Texteigenschaft für Titel*/
.Titel{
  color: rgb(255,255,255);
  font-size: 24px; 
  margin: 21px;
  font-weight: bold;
  text-decoration: underline;     /*unterstrichener Text*/
  font-family: "Helvetica Neue";
  text-align: left;
}

/* Texteigenschaft für Untertitel*/
.Untertitel{
  color: rgb(255,255,255);
  font-size: 20px; 
  margin: 21px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: left;
}

/* Texteigenschaft Zitat */
.blockquote{
  color: rgb(255,255,255);
  font-size: 16px; 
  margin: 21px;
  font-family: "Helvetica Neue";
  text-align: center;
  padding-left: 10%;          /*Abstand zum Rand 10%*/
  padding-right: 10%;
}

/* Allgemeine Linkfarbe*/
a:link{
  color: rgb(255,255,255);
}

/*Linkfarbe von geklickten Links */
a:visited{
  color: rgb(255,255,255);
}

/*Linkfarbe beim Hovern */
a:hover{
  color: rgb(184, 181, 181);
}

/*Text Eigenschaften in der LIste */
li{
  color: rgb(255,255,255);
  font-size: 16px; 
  margin: 8px;
  font-family: "Helvetica Neue";
  text-align: left;
}

/*Platzierung der Bilder*/
div.gallery {
    text-align: center;
}

/* Bildeigenschaften der Katzenbilder */
div.gallery img {
    max-width:70%;
    height:auto;
    margin-top: 15px;
}

/*Texteigenschaften für Bildquelle */
div.desc{
    color: rgb(255,255,255);
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

/*Gif Eigenschaften*/
div.gif{
    text-align: center;
    max-width: 100%;
    height: auto;
}

/* Textgestaltung für Bildtitel der Katzenbilder */
.BildTitel{
  color: rgb(255,255,255);
  font-size: 20px; 
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-align: center;
  text-decoration: underline;
}

div.schoner{
  max-width: fit-content;
  height:auto;
}

/* Design der "Fusszeile" */
footer{
  background-color: rgb(53, 49, 49);
  color: rgb(255, 255, 255);
  padding: 4px;
  margin:2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

/* Navigations Leiste Design */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
  
  /* Text Design im Navigationsverzeichnis */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Dropdown Kasten*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown Knopf */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  /* Roter Hintergrund beim Hovern über der Navigations Leiste */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown Inhalts Box */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links im Dropdown Menü */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Grauer Hintergrund beim Hovern im Dropdown Menü */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Dropdown anzeigen */
  .dropdown:hover .dropdown-content{
    display: block;
  }